@import url('https://fonts.googleapis.com/css2? family= Fasthand & display=swap');
.fondo{
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  margin: auto;
  background-image: url("form.png");
  border: initial;
  width: 100%;
  height: 50vw;
  box-shadow: 5px 2px 15px 0px rgb(195, 194, 194);
/*   background-image: url("wallpaperflare.com_wallpaper.jpg"); */
  backdrop-filter: blur(200px);
  display: flex; 
  opacity: 0.95; 
}

.formContainer {
  right: 50px;
  border-radius: 3px;
  font-size: 12.5px;
  width: 35%;
  height: 0%;
  background-color: #faf6ef63;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter:blur(3px) ;
  margin-left: 20px;
  color: #000000;
  margin-top: 22%;
}
.inputs {
  background-color: #6d685f7e;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  position: absolute;
  top:30%;
  left: -43%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  height:364px;
}

.tipoDeDietas {
  border-radius: 3px;
  font-size: 12.5px;
  width: 65%;
  height: 5%;
  background-color: #6d685f7e;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter:blur(3px) ;
  text-align:center;
  color: #000000c4;
  margin-top: -38%;
  margin-left: 15%;
  border: 1px solid #f1f1f1;
}
h1 {
    color:white;
    font-family: 'Fasthand', cursiva;
    font-size:50px;
    font-weight: 600;
    line-height: 44px;
    /* margin: 0 0 12px; */
    text-align: center;
    margin-left: 55px;
    margin-top: 35px;
    margin-bottom: 30px;
  }
.text{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2px;
  height: 40px;

}


label {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  font-weight: 100;
  color: black;
  padding: 3px;
  margin-top: 8px;
  margin-right: 5px;
}

.textarea {
  float: right;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 60%;
  padding: 3px;
  margin-top: 10px;
  margin-right: 5px;
  background: transparent;
  color: #0a0a0a;
  font-size: 15px;
  line-height: 2.5em;
}

input {
  float: right;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 3px;
  margin-top: 8px;
  margin-right: 5px;
  transition: width 0.35s ease-in-out;
  background: transparent;
  color:#0a0a0a;
  font-size: 15px;
}


.createButton {
   /*  padding: 2px;
    margin: 2px;
    width: 200px;
    font-family: 'Fasthand', cursiva;
    font-size: 19px;
    border-radius: 5px;
    border: 2px solid rgba(9, 51, 1, 0.873);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    margin-top: 10px;
    margin-right: 30px; */
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 42px;
    width:105px;
    background-color: rgba(22, 21, 19, 0.678);
    border-color: white;
    
    border-radius:4px;
    color: rgb(252, 248, 248);
    position: absolute;
    margin-top: 7%;
    left: -50%;
    cursor: pointer;
    transition-duration: 0.4s;
    padding-top: 0px;

  }
  .createButton:hover {
   /*  background-color: rgb(0, 126, 4);
    color: white; */
    background-color: rgba(236, 178, 17, 0.911);
    border-radius: 0.4vw;
    border-color:rgba(177, 131, 6, 0.911);
    background: rgba(236, 178, 17, 0.911);
    box-shadow: 0 0 10px rgba(236, 178, 17, 0.911), 0 0 40px rgba(236, 178, 17, 0.911), 0 0 80px rgba(236, 178, 17, 0.911) ;
    transition-delay: 0.4s;
  }
  .createButton2 {
    
    opacity: 0;

  }
/*     .Containerbutton{
    display: flex;
    align-items: flex-end;
    border-color: #000000;
  }   */
  .returnButton {
/*     font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 32px;
    width:105px;
    background-color: rgba(238, 225, 198, 0.397);
    border-color:rgba(92, 56, 3, 0.849) ;
    border-radius: 0.4vw;
    color: rgb(10, 10, 10);
    position: absolute;
    top: 4%;
    margin-left: -130%;
    cursor: pointer;
    transition-duration: 0.4s;
    padding: 0px;  */
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 42px;
    width:105px;
    background-color: rgba(22, 21, 19, 0.678);
    border-color: white;
    border-radius: 3px;
    color: rgb(252, 248, 248);
    position: absolute;
    margin-top:7.5%;
    left: 36%;
    cursor: pointer;
    transition-duration: 0.4s;
    padding-top: 0px; 
  }
 
  .returnButton:hover {
    background-color: rgba(236, 178, 17, 0.911);
    border-radius: 0.4vw;
    border-color:rgba(177, 131, 6, 0.911);
    background: rgba(236, 178, 17, 0.911);
    box-shadow: 0 0 10px rgba(236, 178, 17, 0.911), 0 0 40px rgba(236, 178, 17, 0.911), 0 0 80px rgba(236, 178, 17, 0.911) ;
    transition-delay: 0.4s;
  }
  


.opciones {
   display: grid; 
   grid-template-columns: 1fr 1fr 1fr; 
  text-align: center;
  
}
 .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  
} 
 a{
  text-decoration: none;
  color: rgb(251, 251, 251);
  font-size: 20px;
  
} 
.box2{
  cursor: pointer;
}

.error{
  color:red;
  font-size: 11px;
}


/* .title {
  margin-bottom: 20px;
} */